.titulos span{
  font-weight: 500;
  font-size: 16px;
  color: #172D5A;
}

.titulos{
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  margin-right: 150px;
}

.ad .est{
  margin-left: 70px;
}

.fec{
  margin-right: 25px;
}

.tit{
  margin-right: 30px;
}

.est{
  margin-right: 35px;
}

.ad{
  margin-right: 15px;
  justify-content: space-between;
  margin-left: 80px;
}

form{
  background: #eff3f9;
  border-radius: 10px;
}

.b{
  width: 100px;
}

.obs input{
  width: 190px;
}


.documentos{
  margin: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.divSlc{
  width: 130px;
}

button{
  z-index: 10000;
}

.btnPdf{
  padding: 5px;
  border-radius: 2px;
  background-color: #DBE5F8;
  border: 0.5px solid #172D5A;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 0;
  color: #ACA9A5;
  text-align: center;
}

.btnPdf svg{
  margin-right: 1px;
}

.contDoc{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  border-radius: 10px;
  background: white;
  height: 66px;
  padding: 10px;
  align-items: center;
  width: 100%;
}

.btns{
  display: flex;
  justify-content: space-evenly;
}

.descargar{
  border-radius: 2px;
  border: none;
  margin-right: 20px;
  padding: 0;
  background-color: white;
  cursor: pointer;
  box-shadow: none;
}

.descargar svg{
  height: 100%;
}

.contBoton1{
  display: flex;
  justify-content: flex-end;
}

.contBoton1 button{
  margin: 20px ;
  padding-left: 30px;
  padding-right: 30px;
}

#state{
  border-radius: 5px;
  border: 1px solid  #172D5A;
  background: #FFF;
  padding: 12px 16px ;
}

button {
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background: #172D5A;
  padding: 7px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 79px;
  margin-top: 250px;
}

.correo{
  background-color: #6486CB;
  border: none;
}

.subir{
  margin-right: 20px;
  padding: 0;
  border: none;
  background-color: white;
  cursor: pointer;
  width: 40px;
  height: 35px;
  box-shadow: none;
}

.subir svg{
  height: 100%;
}

.borrar{
  border: none;
  background-color: #F6A4B833;
  border-radius: 5px;
  width: 40px;
  height: 35px;
  text-align: center;
  cursor: pointer;
}

.truncar-texto {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}

button:disabled, input:disabled {
  /* Agrega aquí los estilos que desees para el botón desactivado */
  opacity: 0.5; /* Ejemplo: reduce la opacidad del botón */
  cursor: not-allowed; /* Ejemplo: cambia el cursor cuando el botón está desactivado */
}



.obs{
  width: 190px;
}


.btns button{
  margin-bottom: 0;
  margin-top: 0;
}


