<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h2>Certificaciones</h2>
<div class="buscar" *ngIf="user.rol === 'admin'">
  <div class="p1">
    <input class="bus" type="text" placeholder="Buscar por nombre de registro..."> <input type="submit"  class="btnBuscar" value="Buscar">
  </div>
</div>

<div class="certification" *ngFor="let certification of certifications">

  <div class="cards">
    <div class="cardInfo">

      <div>
        <h3>{{ certification.name }}</h3>
      </div>
      <div>
        <p><b>Registro realizado por: </b>{{ certification.realizedBy }}</p>
        <p><b>Fecha de registro: </b>{{ certification.getRegisterDate() | date:'longDate' }}</p>
        <p><b>Fecha de finalización: </b>{{ certification.getFinishDate() | date:'longDate' }}</p>
        <button>Abrir</button>
      </div>
    </div>

  </div>



</div>


</body>
</html>

