form {
  max-width: 650px;
  margin: auto;
  padding: 10px;
}

div {
  margin-bottom: 20px;
}

label {
  display: block;
}

p {
  font-size: 12px;
  margin: 10px
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #172D5A;
  background: #FFF;
}

button {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

button:disabled, input:disabled, textarea:disabled {
  /* Agrega aquí los estilos que desees para el botón desactivado */
  opacity: 0.5; /* Ejemplo: reduce la opacidad del botón */
  cursor: not-allowed; /* Ejemplo: cambia el cursor cuando el botón está desactivado */
}

#keywords {
  height: 79px;
}

#title {
  margin-top: 10px;
  height: 35px;
}

#summary {
  margin-bottom: 20px;
  height: 125px;
}

button {
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background: #172D5A;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.contBoton{
  display: flex;
  justify-content: center;
}

.contBoton1{
  display: flex;
  justify-content: center;
}

.correo{
  background-color: #6486CB;
  border: none;
}

.loading-icon {
  border: 11px solid lightgray;
  border-top: 11px solid #172D5A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-top: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
