form {
  max-width: 650px;
  margin: auto;
  padding: 10px;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
}

input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #172D5A;
  background: #FFF;
}

button {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

button:disabled {
  /* Agrega aquí los estilos que desees para el botón desactivado */
  opacity: 0.5; /* Ejemplo: reduce la opacidad del botón */
  cursor: not-allowed; /* Ejemplo: cambia el cursor cuando el botón está desactivado */
}

#keywords {
  height: 79px;
}

#title {
  margin-top: 10px;
  height: 35px;
}

#summary {
  margin-bottom: 20px;
  height: 125px;
}

button {
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background: #172D5A;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
}

.contBoton{
  display: flex;
  justify-content: center;
}
