<div *ngIf="projects && user">
  <h2>Registro de Propiedad Intelectual</h2>
  <h3>{{ title }}</h3>
  <button *ngIf="user.rol == 'user'" (click)="openModalAddProject()">Crear registro PI</button>
  <dialog class="registerpi" *ngIf="'user' == user.rol" [attr.open]="openModal" >
    <form [formGroup]="formProject" (ngSubmit)="addProject()">
      <div>
        <label for="name-project">Nombre de la invensión “preliminar”</label>
        <input type="text" id="name-project" name="name-project" required formControlName="name" autocomplete="off">
        <input type="text" formControlName="nameAuthor">
        <input type="text" disabled value="{{ getDate() | date:'longDate' }}">
      </div>
      <div>
        <label for="cellphone">Número de celular o ext</label>
        <input type="tel" id="cellphone" name="cellphone" formControlName="cellphone" required >
        <label for="type">Tipo de registro</label>
        <select id="type" name="type" required formControlName="type">
          <option value="patent">Patente o modelo de utilidad</option>
          <option value="copyright-software">Derechos de Autor / Software</option>
          <option value="copyright-database">Derechos de Autor / Base de datos</option>
          <option value="industrial-secret">Secreto industrial</option>
        </select>
      </div>
      <label for="description">Descripción breve de la invensión</label>
      <textarea id="description" name="description" required formControlName="description"></textarea>
      <div>
        <input type="submit" value="Aceptar" [disabled]="formProject.invalid">
        <input type="reset" value="Cancelar" (click)="openModal = null">
      </div>
    </form>
  </dialog>
  

  <div>
    <input (change)="filterResults(filter.value)" placeholder="Buscar por nombre de registro..." type="search" #filter>
    <button (click)="filterResults(filter.value)">Buscar</button>
    <select [disabled]="true" id="types-properties">
      <option selected disabled>Eliga una opción</option>
      <option value="patent">Patente</option>
      <option value="copyright-software">Derechos de Autor / Software</option>
      <option value="copyright-database">Derechos de Autor / Base de datos</option>
      <option value="industrial-secret">Secreto industrial</option>
    </select>

    <!-- select id="types-properties">
      <option value="copyright-software">Nombre</option>
      <option value="copyright-database">Fecha de registro</option>
      <option value="industrial-secret">Tipo de propiedad intelectual</option>
    </select -->
  </div>
  <div class="project">
    <span *ngIf="'user' == user.rol">Foto</span>
    <span>Nombre </span>
    <span>Fecha de registro </span>
    <span>Tipo de propiedad intelectual </span>
  </div>
  <div class="project"  *ngFor="let project of filteredProjects">
    <div class="project--details"  (click)="redirect(project)">
      <img src="" alt="Foto Proyecto" *ngIf="'user' == user.rol">
      <p *ngIf="user.rol == 'admin'">{{ project.nameAuthor }}</p>
      <div>
        <p><small>{{ project.status }}</small></p>
        <p>{{ project.getName }}</p>
      </div>
      <div>
        <p><small>Detalles</small></p>
        <p>{{ types[project.type] }}</p>
      </div>
      <div>{{ project.getCreateDate | date:'mediumDate' }}</div>
    </div>
    <div *ngIf="'admin' == user.rol">
      <button [disabled]="project.publish" (click)="approveProject(project)">Aceptar</button>
      <button [disabled]="project.publish" (click)="nonApproveProject(project)">Negar</button>
      <button [disabled]="project.publish" (click)="deleteProject(project)">Borrar</button>
    </div>
  </div>
</div>