<app-short-alert></app-short-alert>

<div class="whole">

  <!-- Rol Usuario -->
  <ng-container  *ngIf="project.contract && user.rol == 'user'">
    <div class="container1">
      <div class="Cont">

        <!-- Elaboración de contrato -->
        <div class="a">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span>Elaboración del contrato</span>
        </div>

        <div class="a2" >
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <div class="date">
            <small>Detalles</small>
            <span *ngIf="project.contract.date else dateC">
              {{ project.contract.date.toDate() | date:"mediumDate" }}
            </span>
            <ng-template #dateC>
              <span> Sin Fecha </span>
            </ng-template>
          </div>
        </div>

        <div class="a1">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span class="contenido1">Descarga el siguiente PDF para aplicar la firma</span>
        </div>

        <div class="a3">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <a
            target="_blank"
            [ngClass]="{
              'disabled': !project.contract.document
            }"
            [href]="project.contract.document"
          >
            <img src="/assets/icons/download.svg" alt="Descargar">
          </a>
        </div>
      </div>

      
      <!-- Recepción de contrato legalizado -->
      <div class="Cont">
        <div class="a">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span>Recepción de contrato legalizado</span>
        </div>

        <div class="a2">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <div class="date">
            <small>Detalles</small>
            <span *ngIf="project.legalizedContract && project.legalizedContract.date else dateCL">
              {{ project.legalizedContract.date.toDate() | date:"mediumDate" }}
            </span>
            <ng-template #dateCL>
              <span> Sin Fecha </span>
            </ng-template>
          </div>
        </div>

        <div class="a1">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span class="contenido1">
            Carga en PDF el contrato legalizado, con las firmas correspondientes
          </span>
        </div>

        <div class="a3">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <div class="btns">
            <!-- Carga de archivo -->
            <label
              *ngIf="!loadingLegalizedContract"
              for="legalizedContract"
              [ngClass]="{
                disabled: !project.contract.document || project.publish
              }"
            >
              <img src="/assets/icons/upload.svg" alt="Subir Archivo">

              <input
                [disabled]="!project.contract.document || project.publish"
                accept=".pdf"
                (change)="uploadLegalizedContract($event)"
                id="legalizedContract"
                class="custom-file-upload"
                type="file"
                placeholder="Archivo de Contrato"
              >
            </label>
            
            <div *ngIf="loadingLegalizedContract" class="loading-overlay">
              <div class="loading-icon"></div>
            </div>

            <a target="_blank" *ngIf="project.legalizedContract && !loadingLegalizedContract" [href]="project.legalizedContract.document">
              Ver Archivo
            </a>
          </div>
        </div>
      </div>

      <!-- Solicitud de patente -->
      <div class="Cont">
        <div class="a">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span>Solicitud de patente</span>
        </div>

        <div class="a2">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <div class="date">
            <small>Detalles</small>

            <span *ngIf="project.application else dateA">
              {{ project.application.date.toDate() | date:"mediumDate" }}
            </span>
            <ng-template #dateA>
              <span> Sin Fecha </span>
            </ng-template>
          </div>
        </div>

        <div class="a1">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span class="contenido1">
            Aqui puedes descargar la solicitud que se ha enviado para solicitar la patente
          </span>
        </div>
        
        <div class="a3">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          
          <a
            target="_blank"
            [ngClass]="{
              'disabled': !(project.application && project.application.document)
            }"
            [href]="project.application ? project.application.document :'.'"
          >
            <img src="/assets/icons/download.svg" alt="Descargar Aplicación">
          </a>
        </div>
      </div>
    </div>
  </ng-container>


  <!-- Rol Admin -->
  <ng-container  *ngIf="project.contract && user.rol == 'admin'">
    <div class="container1">
      <div class="Cont">

        <div class="a">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span>Elaboración del contrato</span>
        </div>

        <div class="a2">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <div class="date">
            <small>Detalles</small>

            <span *ngIf="project.contract.date else dateC">
              {{ project.contract.date.toDate() | date:"mediumDate" }}
            </span>
            <ng-template #dateC>
              <span> Sin Fecha </span>
            </ng-template>
          </div>
        </div>

        <div class="a1">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span class="contenido1">
            Carga en PDF el contrato, para la aplicación de la firma
          </span>
        </div>

        <div class="a3">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <div class="btns">
            <label
              *ngIf="!loadingContract"
              [ngClass]="{
                disabled: project.publish
              }" 
              for="contract"
            >
              <img src="/assets/icons/upload.svg" alt="Subir Contrato">
              <input
                [disabled]="project.publish"
                type="file"
                id="contract"
                class="custom-file-upload"
                (change)="uploadContract($event)"
                accept=".pdf"
                #uploadContractF
              >
            </label>

            <div *ngIf="loadingContract" class="loading-overlay">
              <div class="loading-icon"></div>
            </div>

            <a target="_blank" *ngIf="project.contract.document" [href]="project.contract.document">
              Ver Archivo
            </a>
          </div>
        </div>
      </div>


      <!-- Recepción de contrato legalizado -->
      <div class="Cont">
        <div class="a">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span>Recepción de contrato legalizado</span>
        </div>

        <div class="a2">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <div class="date">
            <small>Detalles</small>
            <span *ngIf="project.legalizedContract else dateLC">
              {{ project.legalizedContract.date.toDate() | date:"mediumDate" }}
            </span>
            <ng-template #dateLC>
              <span> Sin Fecha </span>
            </ng-template>
          </div>
        </div>

        <div class="a1">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span class="contenido1">
            Descargar en PDF el contrato legalizado, con las firmas correspondientes
          </span>
        </div>

        <div class="a3">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>

          <a
            target="_blank"
            [ngClass]="{
              'disabled': !(project.legalizedContract && project.legalizedContract.document)
            }"
            [href]="project.legalizedContract ? project.legalizedContract.document : null"
          >
            <img src="/assets/icons/download.svg" alt="Descargar Contrato Legalizado">
          </a>
        </div>
      </div>


      <!-- Solicitud de patente -->
      <div class="Cont">
        <div class="a">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span>Solicitud de patente</span>
        </div>


        <div class="a2">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <div class="date">
            <small>Detalles</small>

            <span *ngIf="project.application && project.application.date else dateA">
              {{ project.application.date.toDate() | date:"mediumDate" }}
            </span>
            <ng-template #dateA>
              <span> Sin Fecha </span>
            </ng-template>
          </div>
        </div>


        <div class="a1">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <span class="contenido1">
            Aqui puedes descargar la solicitud que se ha enviado para solicitar la patente
          </span>
        </div>


        <div class="a3">
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="64" viewBox="0 0 6 64" fill="none">
            <path d="M3 3V61" stroke="#172D5A" stroke-width="5" stroke-linecap="round"/>
          </svg>
          <div class="btns">
            <label
              *ngIf="!loadingApplication"
              [ngClass]="{
                disabled: !project.legalizedContract || project.publish
              }"
              for="application"
            >
              <input
                [disabled]="!project.legalizedContract || project.publish"
                (change)="uploadApplication($event)"
                class="custom-file-upload"
                type="file"
                id="application"
                accept=".pdf"
              >
              <img src="/assets/icons/upload.svg" alt="Subir Aplicación">
            </label>

            <div *ngIf="loadingApplication" class="loading-overlay">
              <div class="loading-icon"></div>
            </div>

            <a target="_blank" *ngIf="project.application" [href]="project.application.document">
              Ver Archivo
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <button
    class="btAp"
    *ngIf="!loading && user.rol == 'admin' && !project.publish && project.application"
    (click)="publishProject()"
  >
    Aprobar finalización de proceso
  </button>

  <div *ngIf="loading" class="loading-overlay">
    <div class="loading-icon"></div>
  </div>

</div>
