<div class="background-image"></div>
<div class="container">
  <div class="title">
    <h1>Registro Propiedad Intelectual</h1>
  </div>
  <div class="cuerpo">
    <div class="form">
      <h3>Inicia sesion con tu correo institucional</h3>
      <form #login="ngForm" [formGroup]="formLogin" (ngSubmit)="loginAuth()">
        <div class="email">
          <label for="email">Email </label>
          <input id="email" name="email" type="email" formControlName="email">
        </div>
        <div class="password" [hidden]="isPasswordHidden">
          <label for="password">Contraseña </label>
          <input id="password" name="password" type="password" formControlName="password">
        </div>
        <input class="btn_log" type="submit" value="Iniciar Sesión">
      </form>
      <p>Términos y Condiciones</p>
    </div>
  </div>
</div>