
body{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

label{
  font-weight: 400;
  font-size: 16px;
  margin: 20px;
}

p{
  font-weight: 400;
  font-size: 10px;
}

.texto{
  margin: 20px;
}

button {
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background: #172D5A;
  padding: 7px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 79px;
  margin-top: 250px;
}

button:disabled, input:disabled {
  /* Agrega aquí los estilos que desees para el botón desactivado */
  opacity: 0.5; /* Ejemplo: reduce la opacidad del botón */
  cursor: not-allowed; /* Ejemplo: cambia el cursor cuando el botón está desactivado */
}

.contBoton{
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#descriptiveMemory{
  background-color: #D3ECBA;
}

.contBoton1{
  display: flex;
  justify-content: center;
}

.contBoton1 button{
  margin: 20px ;
  padding-left: 30px;
  padding-right: 30px;
}

.correo{
  background-color: #6486CB;
  border: none;
}

.texto1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto1 p{
  margin: 5px;
}

h4{
  color: #172D5A;
  font-size: 16px;
  font-weight: 400;
}

.texto1 input{
  width: 99%;
}
