<p><b>Patente o modelo de utilidad</b></p>

<label for="descriptiveMemory">Memoria descriptiva</label>
<ng-container *ngIf="user.rol == 'user'">
    <input type="file" accept=".pdf" id="descriptiveMemory" [value]="project.documents['descriptiveMemories'].documents[0]" #upload>
    <a href="{{ url }}" *ngIf="url != ''">Archivo Subido</a>
    <p>Cargar en PDF</p>
    <p>Memoria descriptiva</p>
    <button (click)="uploadPDF(upload)">Guardar y enviar</button>
</ng-container>
<form *ngIf="user.rol == 'admin'" (ngSubmit)="updateObservations()">
    <p>Descargar en PDF</p>
    <p>Memoria descriptiva</p> 
    <a href="{{ url }}" *ngIf="url != ''">Archivo Subido</a>
    <label for="observations"></label>
    <input type="text" id="observations">
    <button (click)="approve()">Aprobar</button>
    <input type="submit" value="Enviar Correciones">
</form>
    
