<app-alert *ngIf="alertMessage" [message]="alertMessage" (close)="alertMessage = undefined"></app-alert>
<div class="info">
  <h2>Información sobre propiedad intelectual</h2>
  <div class="sup">
    <div class="bot">
      <input class="cancelar" type="submit" value="Solicitar asesoría" (click)="requestForAdvice()">
      <div *ngIf="loading" class="loading-overlay">
        <div class="loading-icon"></div>
      </div>
    </div>

    <div class="infoDer">
      <div class="contDocs">
        <h4>Procuraduría</h4>
        <div class="center-text">
          <a href="https://procuraduria.utpl.edu.ec/Paginas/default.aspx" target="_blank">
            <h4 class="utpl">UTPL</h4>
          </a>
        </div>
      </div>
      <div class="contDocs">
        <h4>Normativa</h4>
        <div class="center-text">
          <a href="https://procuraduria.utpl.edu.ec/Paginas/default.aspx" target="_blank">
            <img src="assets/icons/norm.svg" >
          </a>

        </div>
      </div>
    </div>
  </div>
  <div class="infoAs">
    <p>Cuando solicitas la asesoría, se envía un correo electrónico a nuestro equipo. Una vez recibida tu solicitud, te responderemos por correo electrónico para coordinar y agendar una reunión.
      </p>
    <p>Durante esta reunión, abordaremos temas relevantes, como el funcionamiento del registro de propiedad intelectual gestionado por el Parque Científico y Tecnológico de la UTPL. Además, analizaremos el tipo de registro de propiedad intelectual que mejor se adapte a tu caso específico y te guiaremos a través del proceso de registro.
      Estamos aquí para brindarte toda la información y orientación que necesitas para proteger tus derechos de propiedad intelectual. ¡Esperamos tu contacto y estamos ansiosos por colaborar contigo!</p>
  </div>
  <h3>{{ title }}</h3>
  <div class="cards">
    <div class="cardInfo">
      <h3>PATENTES O MODELO DE UTILIDAD</h3>
      <p>
        Es un conjunto de derechos exclusivos otorgados por un gobierno a un inventor o titular de una invención específica durante un período determinado, generalmente 20 años a partir de la fecha de presentación de la solicitud. Estos derechos otorgan al titular de la patente la exclusividad para fabricar, vender, usar o importar la invención patentada.
      </p>
      <div class="center-text">
        <a href="https://parquecientifico.utpl.edu.ec/es/gestion-transferencia-conocimiento" target="_blank">
          <input class="aceptar" type="submit" value="Ver más">
        </a>
      </div>
    </div>
    <div class="cardInfo">
      <h3>DERECHO DE AUTOR</h3>
      <p>El derecho de autor, también conocido como derecho de autoría o derecho de propiedad intelectual, es un conjunto de leyes y normativas legales que otorgan a los creadores y autores de obras originales el control y los derechos exclusivos sobre sus creaciones. </p>
      <div class="center-text">
        <a href="https://parquecientifico.utpl.edu.ec/es/gestion-transferencia-conocimiento" target="_blank">
          <input class="aceptar" type="submit" value="Ver más">
        </a>
      </div>
    </div>
    <div class="cardInfo">
      <h3>SECRETO INDUSTRIAL</h3>
      <p>
        Los secretos industriales, también conocidos como secretos comerciales o secretos empresariales, son información confidencial y valiosa que una empresa o entidad utiliza para obtener ventaja competitiva en el mercado.
      </p>
      <div class="center-text">
        <a href="https://parquecientifico.utpl.edu.ec/es/gestion-transferencia-conocimiento" target="_blank">
          <input class="aceptar" type="submit" value="Ver tutorial">
        </a>
      </div>
    </div>
  </div>
</div>

