<div class="cont">
  <div class="title">
    <h2>Mensajería</h2>

    <button *ngIf="user.rol == 'user'" (click)="openModal = true">Nuevo mensaje</button>
  </div>

  <div class="overlay" *ngIf="openModal"></div>

  <dialog class="registerpi" *ngIf="'user' == user.rol" [attr.open]="openModal" >
    <form [formGroup]="formNewMessage" (ngSubmit)="newMessage(upload)" >
      <div class="superior">
        <div class="parte2">
          <label for="projectId">Nombre de mis registros</label>
          <select id="projectId" name="projectId" required formControlName="projectId">
            <option class="disabled" value="" disabled selected>Selecciona un proyecto</option>
            <option *ngFor="let project of projects" [value]="project.id">{{ project.getName }}</option>
          </select>
        </div>
        <div class="center">
          <label for="sender">Autor del registro</label>
          <input id="sender" type="text" formControlName="sender">
          <label for="date">Fecha de registro</label>
          <input id="date" type="text" disabled value="{{ getDate() | date:'longDate' }}">
        </div>
        <div>
          <label 
            for="evidence"
            title="Cargar evidencia" 
            class="custom-file-upload-wrapper"
          >
            <input 
              class="custom-file-upload"
              type="file"
              id="evidence"
              accept=".pdf"
              name="descriptiveMemory"
              (change)="onFileSelected($event)"
              #upload
            />
            <img src="assets/icons/update.svg" alt="Subir PDF">
            <span *ngIf="selectedFileName"> {{ selectedFileName }} </span>
            <span *ngIf="!selectedFileName">Adjunta tu PDF aquí</span>
          </label>
        </div>
      </div>
      <div class="inferior">
        <label for="subject">Asunto</label>
        <textarea id="subject" name="subject" required formControlName="subject"></textarea>
      </div>
      <div class="botones">
        <input class="cancelar" type="reset" value="Cancelar" (click)="openModal = null">
        <input class="aceptar" type="submit" value="Aceptar" [disabled]="formNewMessage.invalid">
      </div>

    </form>
  </dialog>

  <div *ngIf="messages.length == 0">
    <p>No hay mensajes</p>
  </div>

  <!-- Listado de mensajes que se muestran al usuario -->
  <div class="message" *ngFor="let message of messages; let i = index">
    <p><b>Proyecto: </b> {{ message.project }} </p>
    <p><b> {{ message.sender }} </b> <small> {{ message.dateMessage | date:'short' }} </small></p>
    <p><b>Asunto: </b>{{ message.subject }}</p>
    <a 
      target="_blank"
      *ngIf="message.evidence"
      [href]="message.evidence"
      class="btnPdf"
    >
      <img src="/assets/icons/pdf.svg" alt="PDF">
        PDF
    </a>

    <div *ngFor="let response of message.responses">
      <p><b> {{ response.name }} </b> <small> {{ response.date.toDate() | date:'short' }} </small></p>
      <p>{{ response.response }}</p>
    </div>
    <form *ngIf="inputMessages[i]" [formGroup]="formNewResponse" (ngSubmit)="newResponse(message.id, i)">
      <input class="inpResp" type="text" formControlName="response" placeholder="Responder">
      <div class="btResp">
        <button class="send" type="submit" [disabled]="formNewResponse.invalid"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none">
          <path d="M10.0001 14L21.0001 3M10.0001 14L13.5001 21C13.5439 21.0957 13.6144 21.1769 13.703 21.2338C13.7917 21.2906 13.8948 21.3209 14.0001 21.3209C14.1054 21.3209 14.2085 21.2906 14.2971 21.2338C14.3858 21.1769 14.4562 21.0957 14.5001 21L21.0001 3M10.0001 14L3.00007 10.5C2.90433 10.4561 2.8232 10.3857 2.76632 10.2971C2.70944 10.2084 2.6792 10.1053 2.6792 10C2.6792 9.89468 2.70944 9.79158 2.76632 9.70295C2.8232 9.61431 2.90433 9.54387 3.00007 9.5L21.0001 3" stroke="#AEB5C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></button>
      </div>

    </form>
    <p>
      <a class="resp" *ngIf="!inputMessages[i]" (click)="inputMessages[i] = true">Responder</a>
    </p>
  </div>
</div>
