
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


<aside class="sidebar active" id="sidebar" *ngIf="user != null">
  <div class="close-btn" id="toggle-sidebar-btn"><span>&#9776;</span></div>
  <div>
    <a href="" class="sidebar__a--button"></a>
    <a href="./projects" *ngIf="user.rol == 'user'">  Información</a>
    <a href="./projects">  Registro de Propiedad</a>
    <a href="./certifications">  Certificaciones</a>
    <a href="./messages"> Mensajes</a>
    <a href="./calendar"> Mi calendario</a>
  </div>
  <div class="bottom">
    <p class="sidebar__p">{{ user.name }} {{ user.lastName }}</p>
    <div class="closeS">
      <p class="sidebar__p--normal">{{ user.rol }}</p>
      <a href="" (click)="logout()">  <img src="assets/icons/on.svg"></a>
    </div>
  </div>

</aside>

<div class="content" role="main">
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>

  </footer>


</div>

</body>
</html>



