:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
/* Estilos para el sidebar */
.sidebar {
  height: 100%;
  width: 14.5rem;
  position: fixed;
  background-color: #172D5A;
  padding-top: 10px;
  transition: all 90ms linear;
  left: -200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Ocultar sidebar en dispositivos móviles */
}

.sidebar a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  font-weight: 400;
}

.top a:hover {
  background-color: #B0BFDD2E;
  border-radius: 10px;
}

.bottom a:hover{
  cursor: pointer;
}

.btn-off{
  cursor: pointer;
}

.sidebar .close-btn {
  position: absolute;
  top: 50px;
  left: 200px;
  font-size: 2.4rem;
  cursor: pointer;
}

.sidebar .close-btn span {
  display: block;
}

.sidebar.active {
  left: 0;
  /*background: url('../assets/images/imagenAside.png'), #172D5A 100px 100px ;*/

}

.sidebar__a--button {
  background-color: var(--primary-color) !important;
  padding: 7px 15px !important;
  border-radius: 15px !important;
  margin: 5px 15px;
  font-size: 15px !important;
  font-weight: bold;
  color: white !important;
}

.sidebar__p {
  color: white;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
}

.bottom img{
  width: 100%;
  fill: white;
  opacity: 0.8;
}

.closeS{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
}



.sidebar__p--normal {
  color: #C4C4C4;
  padding: 0 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.logo {
  margin-top: 30px;
  margin-left: 60px;
}

.content {
  display: flex;
  padding: 1rem .5rem 1rem 10rem;
  /*max-width: 960px;*/
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #F6F9FF;
}

.contentLogin{
  background-color: white;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}


svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container>*:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.info{
  display: flex;
}

.asideA{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.asideA img{
  margin-right: 7px;
}

.imgA{
  height: 400px;
  border-bottom: 0;
}

.overlay {
  position: fixed;
  top: 320px;
  left: 161px;
  width: 3%;
  height: 41%;
  background-color: #172D5A;
}

.overlay-admin {
  position: fixed;
  top: 280px;
  left: 161px;
  width: 3%;
  height: 41%;
  background-color: #172D5A;
}



.overlay-none {
  display: none;
}

.bottom{
  margin-top: 0;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-off img{
  padding: 0 0 0 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 170px; /* ajusta el valor según sea necesario */
}


