
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body >

<aside class="sidebar active" id="sidebar" *ngIf="user != null">
  <div class="top">
    <a href="" class="sidebar__a--button"></a>
    <a href="./info" *ngIf="user.rol == 'user'">
      <div class="asideA">
        <img src="assets/icons/informacion.svg">
        <span>Información</span>
      </div>
    </a>
    <a href="./projects">
      <div class="asideA">
        <img src="assets/icons/regP.svg">
        <span>Registro de Propiedad</span>
      </div>
    </a>
    <a href="./certifications" >
      <div class="asideA">
        <img src="assets/icons/certificaciones.svg">
        <span>Certificaciones</span>
      </div>
    </a>
    <a href="./messages">
      <div class="asideA">
        <img src="assets/icons/mensaje.svg">
        <span>Mensajes</span>
      </div>
    </a>
    <a href="./calendar">
      <div class="asideA">
        <img src="assets/icons/calendario.svg">
        <span>Mi Calendario</span>
      </div>
    </a>
    <img class="imgA" src="assets/images/imagenAside.png">
  </div>

  <div class="bottom">
    <p class="sidebar__p">
      <span class="ellipsis">{{ user.name + ' ' + user.lastName }}</span>
    </p>
    <div class="closeS">
      <p class="sidebar__p--normal">{{ user.rol }}</p>
      <a class="btn-off" (click)="logout()"><img src="assets/icons/on.svg"></a>
    </div>
  </div>



</aside>

<div class="content" role="main">
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>

  </footer>


</div>
<div class="overlay" [ngClass]="{'overlay-admin': user?.rol === 'admin'}" *ngIf="user != null"></div>

</body>
</html>



