<app-short-alert></app-short-alert>

<div *ngIf="!user.rol" class="loading-overlay botones">
  <div class="loading-icon"></div>
</div>

<aside class="sidebar active" id="sidebar" *ngIf="!isLoginPage()">
  <div class="top">
    <a routerLink="./info" class="sidebar__a" *ngIf="user.rol == 'user'" routerLinkActive="active">
      <div class="asideA">
        <img title="Informacion" src="assets/icons/info.svg">
        <span>Información</span>
      </div>
    </a>
    <a routerLink="./projects" class="sidebar__a" routerLinkActive="active">
      <div class="asideA">
        <img title="Registro de Propiedad" src="assets/icons/register-p.svg">
        <span>Registro de Propiedad</span>
      </div>
    </a>
    <a routerLink="./certifications" class="sidebar__a" routerLinkActive="active" >
      <div class="asideA">
        <img title="Certificaciones" src="assets/icons/certifications.svg">
        <span>Certificaciones</span>
      </div>
    </a>
    <a routerLink="./messages" class="sidebar__a" routerLinkActive="active">
      <div class="asideA">
        <img title="Mensajes" src="assets/icons/message.svg">
        <span>Mensajes</span>
      </div>
    </a>
    <a routerLink="./calendar" class="sidebar__a" routerLinkActive="active">
      <div class="asideA">
        <img title="Calendario" src="assets/icons/calendar.svg">
        <span>Mi Calendario</span>
      </div>
    </a>
  </div>

  <img title="Logo LiiD" class="logo-liid" src="assets/images/imagenAs.png">

  <div class="bottom">
    <p class="sidebar__p">
      <span class="ellipsis">{{ user.name + ' ' + user.lastName }}</span>
    </p>
    <div class="closeS">
      <div>
        <p class="sidebar__p--normal">
          {{ user.rol == 'user' ? 'Usuario' : (user.rol == 'admin' ? 'Administrador' : user.rol) }}
        </p>
      </div>

      <div class="logout-buttom" (click)="logout()">
        <img src="/assets/icons/logout.svg" alt="Cerrar Sesión">
      </div>

    </div>
  </div>
</aside>

<div class="content" role="main" *ngIf="!isLoginPage()">
  <!-- <button (click)="loginService.linkWithMicrosoft()">Microsoft</button> -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>
  </footer>
</div>

<div class="contentLogin" role="main" *ngIf="isLoginPage()">
  <router-outlet></router-outlet>
</div>
<div class="overlay" [ngClass]="{'overlay-admin': user.rol === 'admin'}" *ngIf="user"></div>
