h2{
  font-size: 26px;
  font-weight: 600;
  color: #172D5A;
}

.moveStep{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.s h3 {
  flex-grow: 1;
  text-align: center;
}

.s button {
  flex-shrink: 0;
  cursor: pointer;
}

.opaco {
  opacity: 0.5;
  pointer-events: none; /* Esto hace que el botón no sea clickeable */
}

h3{
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: #172D5A;
}

button{
  background: transparent;
  border: none;
}

.contenedor{
  border-radius: 10px;
  background: rgba(176, 183, 197, 0.1);
  margin-bottom: 20px;
}

.info{
  text-align: center;
  padding: 15px;
}

.s{
  display: flex;
  align-items: center;
}

.s button{
  margin: 15px;
}

h4{
  font-weight: 400;
  font-size: 14px;
}

p{
  font-weight: 400;
  font-size: 12px;
}

b{
  font-weight: 600;
  font-size: 12px;
}
