h2{
  color: #172D5A;
  font-weight: 600;
  font-size: 26px;

}

h3{
  color: #172D5A;
  font-weight: 400;
  font-size: 26px;
}

.title button{
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background: #172D5A;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 0 5px;
  border: none;
  margin-left: 5%;
  height: 2.5rem;
  font-size: 12px;
  width: 162px;
}






small{
  font-size: 15px;
  color: #636363;
  margin-left: 10px;
}

a{
  text-decoration: underline;
  color: #172D5A;
  cursor: pointer;
}

.message{
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 90%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.resp{
  font-weight: 600;
}

.btnPdf{
  padding: 5px;
  border-radius: 2px;
  background-color: #DBE5F8;
  border: 0.5px solid #172D5A;
  cursor: pointer;
}

.btResp{
  display: flex;
  justify-content: flex-end;
}

.send{
  border: none;
  cursor: pointer;
  background-color: white;
  margin-right: 10px;
}

.inpResp{
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #172D5A;
}

.btnPdf{
  color: #ACA9A5;
  font-weight: 500;
  font-size: 13px;
}

.btnPdf svg{
  margin-right: 5px;
}

.btnBuscar{
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background: #172D5A;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border: none;
}

.p1 input{
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border: none;

}

.bus{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 370px;
}


.p1{
  display: flex;
}

.p1 input{
  text-align: start;
}

.buscar{
  display: flex;
  justify-content: space-between;
}

.cards{
  display: flex;
  justify-content: space-evenly;
}

dialog{
  background-color: #F6F9FF;
  border: none;
  border-top: 3px solid #172D5A;
  margin-left: 20%;
  width: 70%;
  padding: 20px;
}

.center{
  display: flex;
  flex-direction: column;
}



.cardInfo{
  border-radius: 20px;
  width: 90%;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.cardInfo h3{
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
}

.title{
  display: flex;
  align-items: center;
}

.superior{
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
}



.parte1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 40px;
}

.cont{
  width: 100%;
  margin-left: 7%;
}

.parte2{
  display: flex;
  flex-direction: column;
  margin: 5px 40px;
}

.parte1 input{
  margin: 5px;
  border-radius: 6px;
  height: 48px;
  border: 1px solid #172D5A;
  width: 445px;
}

.parte2 input{
  margin: 5px;
  border-radius: 6px;
  height: 48px;
  border: 1px solid #172D5A;
}

.parte2 select{
  margin: 5px;
  border-radius: 6px;
  height: 48px;
  border: 1px solid #172D5A;
}

#date,#nameAuthor, #sender{
  border: none;
  background: transparent;
}

#date,#nameAuthor, #sender input{
  color: #A5A5A5;
}

#evidence{
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}


label{
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

#subject{
  margin: 5px;
  border-radius: 6px;
  height: 79px;
  border: 1px solid #172D5A;
}

.inferior{
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
}

.botones{
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  align-items: center;
}

.cancelar {
  border-radius: 10px;
  color: #172D5A;
  cursor: pointer;
  background: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 30px;
  border: none;
}
.aceptar {
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background: #172D5A;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 30px;
  border: none;
}



