h2{
  color: #172D5A;
  font-weight: 600;
  font-size: 26px;

}

h3{
  color: #172D5A;
  font-weight: 400;
  font-size: 26px;
}

button {
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background: #172D5A;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 10px;
  border: none;
  margin-left: 5%;
  height: 2.5rem;
  font-size: 10px;
  margin-top: 5%;
}

a{
  text-decoration: underline;
  color: #172D5A;
  cursor: pointer;
}

.message{
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.btnBuscar{
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background: #172D5A;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border: none;
}

.p1 input{
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border: none;

}

.bus{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 370px;
}


.p1{
  display: flex;
}

.p1 input{
  text-align: start;
}

.buscar{
  display: flex;
  justify-content: space-between;
}

.cards{
  display: flex;
  justify-content: space-evenly;
}

dialog{
  background-color: #F6F9FF;
  border: none;
  border-top: 3px solid #172D5A;
  margin-left: 15%;
}

.cardInfo{
  border-radius: 20px;
  width: 90%;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.cardInfo h3{
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
}

.title{
  display: flex;
}

.superior{
  display: flex;
  justify-content: space-evenly;
}

.parte1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 40px;
}

.parte2{
  display: flex;
  flex-direction: column;
  margin: 5px 40px;
}

.parte1 input{
  margin: 5px;
  border-radius: 6px;
  height: 48px;
  border: 1px solid #172D5A;
  width: 445px;
}

.parte2 input{
  margin: 5px;
  border-radius: 6px;
  height: 48px;
  border: 1px solid #172D5A;
}

.parte2 select{
  margin: 5px;
  border-radius: 6px;
  height: 48px;
  border: 1px solid #172D5A;
}

#date,#nameAuthor{
  border: none;
  background: transparent;
}

#date,#nameAuthor input{
  color: #A5A5A5;
}

label{
  font-weight: 400;
  font-size: 16px;
}

.inferior{
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

