<div>
    <h1>Reunión de revisión de avances</h1>
    <button (click)="confirmAssistance()">Confirmar asistencia</button>
  </div>
  
  <div>
    <h2>Detalles de la reunión:</h2>
    <p>Fecha: {{ project.finalReviewMeeting.timeStart.toDate() | date:'longDate'}}</p>
    <p>Hora: {{ project.finalReviewMeeting.timeStart.toDate() | date:'shortTime'}} - {{ project.finalReviewMeeting.timeFinish.toDate() | date:'shortTime'}}</p>
    <p>Lugar: {{ project.finalReviewMeeting.place }}</p>
    <p>Modalidad: {{ project.finalReviewMeeting.modality }}</p>
  </div>
