<ng-container  *ngIf="project.contract && user.rol == 'user'">
    <div>
        <div><span>Elaboración del contrato</span></div>
        <div>
            <small>Detalles</small>
            <span *ngIf="project.contract.date else dateC"> {{ project.contract.date.toDate() | date:"mediumDate" }} </span>
            <ng-template #dateC><span> Sin Fecha </span></ng-template>
        </div>
        <div>Descarga el siguiente PDF para aplicar la firma</div>
        <div><a target="_blank" *ngIf="project.contract.document" [href]="project.contract.document">Descargar Archivo</a></div>
    </div>
    <div>
        <div><span>Recepción de contrato legalizado</span></div>
        <div>
            <small>Detalles</small>
            <span *ngIf="project.legalizedContract && project.legalizedContract.date else dateCL"> {{ project.legalizedContract.date.toDate() | date:"mediumDate" }} </span>
            <ng-template #dateCL><span> Sin Fecha </span></ng-template>
        </div>
        <div>Carga en PDF el contrato legalizado, con las firmas correspondientes</div>
        <div>
            <input [disabled]="!project.contract.document || project.publish" accept=".pdf" type="file" #uploadLegalized>
            <button [disabled]="!project.contract.document || project.publish" (click)="uploadLegalizedContract(uploadLegalized)">Subir Archivo</button>
            <a target="_blank" *ngIf="project.legalizedContract" [href]="project.legalizedContract.document">Archivo Subido</a>
        </div>
    </div>
    <div>
        <div><span>Solicitud de patente</span></div>
        <div>
            <small>Detalles</small>
            <span *ngIf="project.application else dateA"> {{ project.application.date.toDate() | date:"mediumDate" }} </span>
            <ng-template #dateA><span> Sin Fecha </span></ng-template>
        </div>
        <div>Aqui puedes descargar la solicitud que se ha enviado para solicitar la patente</div>
        <div><a target="_blank" *ngIf="project.application" [href]="project.application.document">Descargar Archivo</a></div>
    </div>
</ng-container>

<ng-container *ngIf="project.contract && user.rol == 'admin'">
    <div class="eCont">
        <div><span>Elaboración del contrato</span></div>
        <div class="date">
            <small>Detalles</small>
            <span *ngIf="project.contract.date else dateC"> {{ project.contract.date.toDate() | date:"mediumDate" }} </span>
            <ng-template #dateC><span> Sin Fecha </span></ng-template>
        </div>
        <div>Carga en PDF el contrato, para la aplicación de la firma</div>
        <div>
            <input [disabled]="project.publish" type="file" accept=".pdf" #uploadContractF>
            <button [disabled]="project.publish"  (click)="uploadContract(uploadContractF)">Subir Archivo</button>
            <a target="_blank" *ngIf="project.contract.document" [href]="project.contract.document">Archivo Subido</a>
        </div>
    </div>
    <div class="rCont">
        <div><span>Recepción de contrato legalizado</span></div>
        <div class="date">
            <small>Detalles</small>
            <span *ngIf="project.legalizedContract else dateLC"> {{ project.legalizedContract.date.toDate() | date:"mediumDate" }} </span>
            <ng-template #dateLC><span> Sin Fecha </span></ng-template>
        </div>
        <div>Descargar en PDF el contrato legalizado, con las firmas correspondientes</div>
        <div><a target="_blank" *ngIf="project.legalizedContract" [href]="project.legalizedContract.document">Descargar Archivo</a></div>
    </div>
    <div class="sPat">
        <div><span>Solicitud de patente</span></div>
        <div class="date">
            <small>Detalles</small>
            <span *ngIf="project.application && project.application.date else dateA"> {{ project.application.date.toDate() | date:"mediumDate" }} </span>
            <ng-template #dateA><span> Sin Fecha </span></ng-template>
        </div>
        <div>Aqui puedes descargar la solicitud que se ha enviado para solicitar la patente</div>
        <div>
            <input [disabled]="!project.legalizedContract || project.publish" type="file" accept=".pdf" #uploadApply>
            <button [disabled]="!project.legalizedContract || project.publish" (click)="uploadApplication(uploadApply)">Subir Archivo</button>
            <a target="_blank" *ngIf="project.application" [href]="project.application.document">Archivo Subido</a>
        </div>
    </div>
</ng-container>

<button *ngIf="user.rol == 'admin' && !project.publish && project.application" (click)="publishProject()">Aprobar finalización de proceso</button>
