<h2>{{ title }}</h2>
<p><b>Subir archivos</b></p>
<div *ngIf="operation == 'upload'">
    <input type="file" id="file" [accept]="type" #upload>
    <button (click)="uploadPDF(upload)">Agregar más</button>
</div>

<h3>Archivos</h3>
<div *ngIf="operation == 'upload'">
    <a *ngFor="let url of documents" href="{{url}}">{{ getFileName(url) }}</a>
</div>

<div *ngIf="operation == 'download'">
    <p *ngFor="let url of documents">
        {{ getFileName(url) }} <a href="{{url}}" download >Descargar</a>
    </p>
</div>

<div *ngIf="operation == 'delete'">
    <div *ngFor="let url of documents">
        {{ getFileName(url) }} 
        <button (click)="deletePDF(url)">Borrar</button>
    </div>
</div>
<h3>Observación</h3>
<p>{{ observation }}</p>