.alert {
    position: fixed;
    font-size: 1rem;
    top: 3.5rem;
    right: 0px;
    min-width: 21.5rem;
    min-height: 90px;
    border: 1px solid black;
    padding: 0.5rem 0.2rem;
    border-width: 1px 0px 1px 1px;
    border-radius: 10px 0px 0px 10px;
    background-color: #ECF5E3;
    z-index: 1000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}